{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}
    {% if localidades.pk %}
        Editar Localidade
    {% else %}
        Nova Localidade
    {% endif %}
{% endblock page_title %}

{% block content %}
    {% if localidades.pk %}
        <h1>Editar Localidade</h1>
    {% else %}
        <h1>Nova Localidade</h1>
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
{% endblock content %}    